@import url("/css/navbar.css");
@import url("/css/service.css");
@import url("/css/gallery.css");
@import url("/css/footer.css");
.banner-image{
      background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
       url(../img/banner.jpeg);
      height: 90vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}
.banner-title{
      position: absolute;
      top: 36%;
      left: 10%;
      width: 50%;
}
.banner-span{
      color:#0078D7 ;
}
.banner-title h1{
      color: #fff;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 1px;
      font-size: 45px;
}
.banner-title p{
      font-weight: 500;
      color: white;
      word-break: keep-all;
      font-size: 23px;
      letter-spacing: 1px;
     
}
.banner-btn{
      padding: 12px 33px;
      border-radius: 35px;
      text-transform: uppercase;
      letter-spacing: 1px;
}