<div class="banner-image">
      <div class="banner-title">
            <h1 class="animated fadeInUp" data-wow-duration="1s" data-wow-delay="5s">wellcome to <span class="banner-span">our cozy bar</span> </h1>
            <p class="animated fadeInLeft" data-wow-duration="1s" data-wow-delay="5s">we are here to serve you!
                  enjoy your night? uhh..remember your student discount?</p>

                  <button class="btn btn-primary btn-lg banner-btn">get in touch</button>

      </div>

</div>

