<div class="contact-banner">
      <div class="contact-items">
            <div class="contact-items1">
                  <h1>wellcome to our <span class="events-span">contact info</span> </h1>
            </div>
            <div class="contact-items2">
                  <p>you can contact us any time you wish for it</p>
            </div>

            <button class="btn btn-primary btn-lg contact-btn">contact</button>
      </div>
</div>