<div class="contact-details">
      <h1>contact us here</h1>
      <div class="contact-underline"></div>
</div>

<div class="row m-auto" id="contatti">
      <div class="container mt-5" >
      
          <div class="row">
            <div class="col-md-6 maps" >
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
              <h2 class="text-uppercase mt-3 font-weight-bold text-white">CONTATTACI</h2>
              <form action="" id="contact-form">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control mt-2" placeholder="First Name" id="contactName">
                      <span class="errorMessage"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control mt-2" placeholder="last Name" id="contactLastName">
                      <span class="errorMessage"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control mt-2" placeholder="Email" id="contactEmail">
                      <span class="errorMessage"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="number" class="form-control mt-2" placeholder="phone" id="contactPhoneNumber">
                      <span class="errorMessage"></span>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="message us" rows="3"></textarea>
                      <span class="errorMessage"></span>
                    </div>
                  </div>
                  
                  <div class="col-12">
                    <button class="btn btn-primary submitbtn" type="submit">submit</button>
                  </div>
                </div>
              </form>
             
            </div>
      
          </div>
      </div>
      </div>
      
      