<div class="events-banner">
      <div class="events-items">
            <div class="items1">
                  <h1>wellcome to our <span class="events-span">events</span> </h1>
            </div>
            <div class="items2">
                  <p>you can participate in our events once a week</p>
            </div>

            <button class="btn btn-primary btn-lg events-btn">events</button>
      </div>
</div>