<section class="wall-image">
      <div class="container mt-5">
            <div class="gallary-title">
                  <h2>gallaries</h2>
            </div>
            <div class="underline-title"></div>

            <div class="row no-gutters mt-4">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/gallary1.jpg" data-lightbox="photo"> <img class="image-gallary"
                                          src="../img/gallary1.jpg" alt=""></a>
                        </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/gallary2.jpg" data-lightbox="photo"> <img class="image-gallary"
                                          src="../img/gallary2.jpg" alt=""></a>
                        </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/gallary3.jpg" data-lightbox="photo"> <img class="image-gallary"
                                          src="../img/gallary3.jpg" alt=""></a>
                        </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/gallary4.jpg" data-lightbox="photo"> <img class="image-gallary"
                                          src="../img/gallary4.jpg" alt=""></a>
                        </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/gallary5.jpg" data-lightbox="photo"> <img class="image-gallary"
                                          src="../img/gallary5.jpg" alt=""></a>
                        </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/gallary6.jpg" data-lightbox="photo"> <img class="image-gallary"
                                          src="../img/gallary6.jpg" alt=""></a>
                        </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/gallary7.jpg" data-lightbox="photo"> <img class="image-gallary"
                                          src="../img/gallary7.jpg" alt=""></a>
                        </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/gallary8.jpg"><img class="image-gallary" src="../img/gallary8.jpg"
                                          alt=""></a>
                        </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="image1">
                              <a href="../img/ga6.jpg" data-lightbox="photo"><img class="image-gallary"
                                          src="../img/ga6.jpg" alt=""></a>
                        </div>


                  </div>



            </div>
      </div>
</section>
