<div class="memory">
      <h1>our memories</h1>
      <div class="underline"></div>
</div>

<div class="container-fluid">
      <div class="row m-auto">
            <div class="col-sm-6">
                  <div class="image-1 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s"></div>
            </div>
            <div class="col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                  <div class="image-title">
                        <h2>For over 25 years we have had good memories with a mixed
                              crowd of happy guests <i class="fas fa-grin-hearts"></i></h2>
                        <div class="image-para">
                              <p>Once you have put your legs in our pub, you are quickly
                                    caught by the good music, the cozy atmosphere and the
                                    advantageous prices. Our wide selection and open attitude
                                    means that we always attract a mixed crowd of happy guests.
                                    Here come people of all ages ranging from business people who
                                    enjoy a cold raft, to students and smiling tourists.</p>
                              <p>
                                    Husk at følg vores Facebook side her for spændende events.
                                    Du kan også blive ven med os i boksen nedenfor. ⤵ </p>

                              <button type="button" class="btn btn-primary">
                                    <i id="thumb" class="fas fa-thumbs-up"></i> think it's good
                              </button>
                        </div>
                  </div>
            </div>

      </div>
</div>
