<div class="header">
      <h2 class="logo">cozy bar</h2>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
            <i class="fas fa-bars"></i>
      </label>
  
      <ul class="menu">
       <a href="/page/home" class="<%= (typeof page != 'undefined' && page =='homeNav' ? 'active' : '') %>">Home</a> 
       <a href="/page/events" class="<%= (typeof page != 'undefined' && page =='eventsNav' ? 'active' : '') %>">events</a> 
        <a href="/page/quiz" class="<%= (typeof page != 'undefined' && page =='quizNav' ? 'active' : '') %>">quiz</a>
        <a href="/page/contact" class="<%= (typeof page != 'undefined' && page =='contactNav' ? 'active' : '') %>">contact</a>
        
        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>
      </ul>
    </div>