<div class="quiz-banner">
      <div class="quiz-items">
            <div class="quiz-items1">
                  <h1>wellcome to our <span class="events-span">quiz night</span> </h1>
            </div>
            <div class="quiz-items2">
                  <p>you can participate in our quiz once a week</p>
            </div>

            <button class="btn btn-primary btn-lg quiz-btn">quiz night</button>
      </div>
</div>