<section id="events-title">
      <h1>events <i class="fas fa-smile-wink"></i></h1>
      <div class="underline1"></div>
      <div class="events-para">
            <p>A cold lager, a small crisp or an exciting drink is best enjoyed at a cozy bar. If you are looking
                  for
                  a bar in Aarhus, choose Flintstone Pub, which undoubtedly offers the city's best bar experience.
                  Here
                  you get everything you would expect from an Irish pub and a traditional tavern, but at
                  Flintstone Pub
                  you always get a little extra with the top of the hat. We have regular events every month.</p>
      </div>
</section>
<!-- <section id="services"> -->
      <div class="container">
            <div class="row m-auto mt-5">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="event-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                              <figure>
                                    <img src="../img/pubcrawl-aarhus.png" alt="">
                              </figure>
                              <div class="event-desc">
                                    <h4>Pub crawl</h4>
                                    <p>Flintstone Pub is a mandatory stopover on your pub crawl route.</p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="event-2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                              <figure>
                                    <img src="../img/live-musik-aarhus.jpg" alt="">
                              </figure>
                              <div class="event-desc">
                                    <h4>Live music</h4>
                                    <p>Free live music the first and last Friday every month. It starts at 2 pm.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="event-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                              <figure>
                                    <img src="../img/live-fodbold.jpg" alt="">
                              </figure>
                              <div class="event-desc">
                                    <h4>sporting events</h4>
                                    <p>We send the best sports events on the big screen. Listen if we send your
                                          fight.</p>
                              </div>

                        </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="event-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                              <figure>
                                    <img src="../img/pencil.jpg" alt="">
                              </figure>
                              <div class="event-desc">
                                    <h4>Pubquiz</h4>
                                    <p>The first and last Tuesday of each month.
                                          The quiz starts at. 20:00 and lasts 1.5 hours.</p>
                              </div>

                        </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="event-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                              <figure>
                                    <img src="../img/whisky-smagning-aarhus.jpg" alt="">
                              </figure>
                              <div class="event-desc">
                                    <h4>Whisky testing</h4>
                                    <p>We regularly hold whiskey tastings. Come and taste all kinds of whiskeys.
                                          Registration
                                          for your bartender or by mail. Price: 250 SEK.</p>
                              </div>

                        </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="event-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                              <figure>
                                    <img src="../img/bordtennins.jpg" alt="">
                              </figure>
                              <div class="event-desc">
                                    <h4>Beer Pong</h4>
                                    <p>10 teams of 2 people die every other month. Sign up for your bartender.</p>
                              </div>

                        </div>
                  </div>
            </div>
      </div>
<!-- </section> -->


<br>
<br>
<br>